@mixin tablet-style {
  @media screen and (max-width: 768px) {
    @content; 
  }
}


@mixin mobile-style {
  @media screen and (max-width: 596px) {
    @content;   
  }
}

.home{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: C2DEDC;
}

.home{
  

  .box{
    height: 80%;
    width: 70%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #164B60;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;

    @include tablet-style{
      width: 90%;
    }

}
}
// ***************** sidebar section ********************
.sidebar {

  color: white;
  background-color: #164B60;
  display: flex;
  flex-direction: column;
  border-left: 5px;
  @include tablet-style{
    position: relative;
  }



  
  .header{
    height: 10%;
    background-color: #2D4356;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px;
    
   .profile{
    display: flex;
    align-items: center;
    gap:5px;
    font-size: smaller;
    font-family:  Helvetica, sans-serif;
 
   }

   .profile button{

    background-color: #164B60;
    color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: x-small;
    left: 0px;

    @include tablet-style{
      position: absolute;
      bottom: 10px;
      left: 10px;
    }


   }
   .profile button:hover{
    background-color: #40839d;
    color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    
   }

  
    .profile img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .searchBtn{
    border-bottom: 1px solid white;
    input{
      background-color: #164B60;
      padding: 5px;
      width: 100%;
      // border: none;
      color: white;
   
      &::placeholder{
        color: white;
        font-size: x-small;
      }
      &:focus{
        padding: 5px;
        background-color: #164B60;
        // border: none;
        outline: none;
      }
    }
    .users{
      padding: 5px;
      display: flex;
      flex-direction: row;
      div{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

    };
    
  }

  .users{
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    div{
      
      padding: 5px;
      display: flex;
      font-size: x-small;
      align-items: center;
      div{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      
    }
  
    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;

    }
  }
}




.home .main{
  background-color: #DAFFFB;
  border-right: 10px;
  height: 100%;
  overflow: hidden;
  .header{
    height: 10%;
    background-color: #164B60;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-right: 10px;

    svg,span{
      margin: 10px;
    }
  }

  .msgtypo{
    height: 10%;
    border-radius: 0px;
    width: 100%;
    bottom: 0px;
    display: flex;
    position: relative;
    align-items: center;

    svg{
      color: blue !important;
    }
    input,form{
      height: 100%;
      width: 100%;
      outline: 0px;
      border-width: 1px 0px 0px 1px;
      display: flex;
      align-items: center;

      .file{
        display: none;
      }
      
    }
    button{
      right: 0px;
      position: absolute;
      border: 0px;
      outline: 0px;
      color: blue;
      background: none;
    }
  
  }

  .chatbox{
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;

   

    .users{
      padding: 5px;
      display: flex;
      flex-direction: row;
      gap: 10px;

      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        
      }

      div{
        background-color: white;
        padding: 5px;
        border-radius: 0px 10px 10px 10px;
      }

    }

    .profile{
    
      padding: 5px;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;

      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      div{
        background-color: skyblue;
        padding: 5px;
        border-radius: 10px 0px 10px 10px;
      }
    }
  } 
}

// signup loggin page *************************

.loggin,.signup{
  background-color: #40839d;

  
  .text{
    font-size: large;
  }
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content{
    background-color: white;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 5px white;
    


    form{
      width: 80%;
      display: flex;
    flex-direction: column;
    align-items: center;
   
    }

    .field{
      margin: 10px;
      width: 100%;

      bx{
        width: 10%;
        font-size: large;

      }
     input{
      border:none;
      outline: none;
      border-bottom: 3px solid rgb(219, 219, 219);
      padding: 10px;
      width: 90%;
     }

    button{
      outline: none;
      width: 100%;
      padding: 10px;
      background-color: #40839d;
      color: white;
      font-weight: 800;
      border: 1px solid  #164B60;
    }
    button:hover{
      width: 100%;
      padding: 10px;
      background-color: #40839d9b;
      color: rgba(255, 255, 255, 0.804);
      font-weight: 800;
      border: 1px solid  #164b60;
    }
    }
  }
  .social_icons{
    .bx{
      margin: 5px;
    }
  }
  .foot{
    .in{
      border: none;
      font-weight: 500;
    }
    .in:hover{
      color: #164B60;
      font-weight: 500;
      border: none;
    }

  }
}

